.container {
    padding: 1%;
    margin: 2% auto;
    border: 1px solid rgb(208, 206, 206);
  }
  
  h3 {
    text-align: center;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 15px 15px;
    border-bottom: 1px solid rgb(223, 221, 221);
    border-top: 1px solid rgb(223, 221, 221);
    padding: 0 10px;
  }
  
  .countries {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .single-country {
    width: 150px;
    height: 100%;
    margin: 5px;
    border: 1px solid rgb(223, 221, 221);
    padding: 2px;
  }
  
  .single-country img {
    width: 100%;
    height: 100px;
  }
  
  .single-country div {
    text-align: center;
  }
  
  .pagination {
    margin: 5px 8px;
    padding: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  #total-count,
  #page-count,
  #vert-line {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #total-count {
    border-right: 1px solid rgb(223, 221, 221);
    padding-right: 30px;
  }
  
  #page-count {
    padding-left: 30px;
  }
  
  #api-link {
    text-align: center;
    margin-top: 10px;
  }
  
  #search {
    margin: 5px;
    width: 30%;
  }