body{
    margin:0;
    padding:0;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.button{
    display: inline-block;
}
button{
    border-radius:5px;
    background-color: white;
    border: 0.5px solid black;
}
button:hover{
    background-color:black;
    color:white;
}
h1{
    font-size:50px;
}
.positive{
    color:green;
}
.negative{
    color:red;
}
.zero{
    color:black;
}
